<% provide(:title, "About") %>

<div class="text-center jumbotron">
  <h1> Welcome to Anna's Blog </h1>

<%= image_source(@photo) %>

</div>





 <footer><p>© <%= Date.today.year %> Created by Anna Nickle</p></footer>
