<% provide(:title, "About") %>

<div class="center jumbotron">
  <h1> Welcome to Anna's Blog </h1>

  <%= link_to "Locations Traveled", locations_path %> <!-- may be replaced as locations_path -->
  <%= link_to "Photos", photos_path %>
</div>





 <p>© <%= Date.today.year %> Created by Anna Nickle</p>
