<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Google Maps</title>
  </head>

  <body>
      <h1>Contact</h1>

      <p>
            <strong>Address:</strong>
            <br>123 Main Street>
            <br>Columbus, OH 43215
      </p>

      <p>
            <strong>Phone: (800) 123 4567
      </p>

      <p><iframe src="https://www.google.com/maps/embed?
        pb=!1m14!1m8!1m3!1d782628.1331622847!2d-82.990829!3d39.982951!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883889c1b990de71%3A0xe43266f8cfb1b533!2sColumbus%2C%20OH!5e0!3m2!1sen!2sus!4v1575380899767!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></p>

    </body>
</html>

#https://www.youtube.com/watch?v=KIC0OK9nKXY
