<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%#= link_to "#", root_path %>
    <nav>
      <div class="navbar-header" style="text-align: right;">
             <!-- "==" booleans -->

        <% unless controller_name == "locations" %>
        <%#= link_to "Locations Traveled", locations_index_path %>
        <%= link_to "Locations Traveled", locations_index_path %>
        <% end %>

        <% unless controller_name == "photos" %>
        <%#= link_to "Photos", photos_index_path %>
        <%= link_to "Photos", photos_path %>
        <% end %>

         <%#= link_to "Log in", login_path %> |
         <%#= link_to "users", users_path %> |
      </div>
    </nav>
  </div>
</header>
